<div class="sidebar-card">
    <h5>Categories</h5>
    <ul class="list-unstyled">
        {% for category in categories %}
        <li>
            <a href="{% url 'category_posts' category.slug %}">
                {{ category.name }}
            </a>
        </li>
        {% empty %}
        <li>No categories yet</li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar-card">
    <h5>Start Discussion</h5>
    {% if user.is_authenticated %}
        <a href="{% url 'create_post' %}" class="btn btn-pink w-100">
            + New Post
        </a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-dark w-100">
            Login to Post
        </a>
    {% endif %}
</div>


<div class="sidebar-card mt-4">
    <h5>Community Stats</h5>
    <p>Total Members: {{ total_members }}</p>
    <p>Total Posts: {{ total_posts }}</p>
</div>
